In [2]:
import pandas as pd

In [12]:
location_data = pd.read_csv('data\location_data.csv')

In [45]:
people_data = pd.read_csv('data\people_data.csv')

In [10]:
security_data = pd.read_csv('data\security_logs.csv')

In [25]:
timedataframe = pd.DataFrame(security_data.Time.value_counts())

In [49]:
class locations():
    def __init__(self, location, locationname):
        self._location = location 
        self._locationname = locationname
        self.peoplepresent = {}
    
    @property
    def location(self):
        return self._location 
    @property
    def locationname(self):
        return self._locationname

    
    def peopleatlocation(self, time):
        return self._peoplepresent[time]
    
    def peopleaddperson(self, time):
        if time in self.peoplepresent:
            self.peoplepresent[time] += 1
        else:
            self.peoplepresent[time] = 1

In [53]:
time  = security_data['Time'].str.split('-', expand = True)

In [58]:
newdataframe = pd.concat([security_data, time], axis = 1)

In [61]:
newdataframe = newdataframe.drop('Time', axis = 1)

In [87]:
from datetime import datetime, time, date 
def convert_to_datetime(time):
    time = time.strip()
    time_hour = int(time[0:2])
    time_minutes = int(time[2:4])
    return datetime(2020, 10, 10, time_hour, time_minutes)

In [91]:
newdataframe[0] = newdataframe[0].apply(convert_to_datetime)
newdataframe[1] = newdataframe[1].apply(convert_to_datetime)
newdataframe = newdataframe.sort_values(by=[0])

In [99]:
newdataframe

,Student ID,Name,Location,0,1
1,2470551P,Melanie Patterson,Kelvingrove Park,2020-10-10 03:01:00,2020-10-10 05:33:00
0,2495155L,Mohamed Lloyd,Kelvingrove Park,2020-10-10 03:38:00,2020-10-10 07:16:00
2,2546112P,Eric Parkin,Kelvingrove Park,2020-10-10 07:20:00,2020-10-10 08:43:00
3,2453876J,Scott Johnston,Kelvingrove Park,2020-10-10 07:55:00,2020-10-10 07:37:00
16,2687223Y,Heather Yates,Kelvingrove Park,2020-10-10 08:11:00,2020-10-10 09:58:00
...,...,...,...,...,...
639,2583004W,Francis Watkins,The Hive,2020-10-10 23:53:00,2020-10-10 01:55:00
659,2533061J,Antony James,Kelvingrove Park,2020-10-10 23:53:00,2020-10-10 03:40:00
636,2446001M,Vincent Miah,Kelvingrove Park,2020-10-10 23:53:00,2020-10-10 02:47:00
634,2739531T,Hollie Taylor,Library,2020-10-10 23:54:00,2020-10-10 02:00:00
649,2818528C,Paul Cox,Kelvingrove Park,2020-10-10 23:55:00,2020-10-10 01:41:00